auth_data.py
credentials.json
.venv1
excel_files/
token-drive.pickle
token-sheets.pickle
try_send.py
client_secret_155862096178-ea212r8qqlerg30i05gpvk6hgpn3jcff.apps.googleusercontent.com (1).json
__pycache__/
<_io.BytesIO*
index.html
save_old_dict